casadi==3.6.5
cvxpy==1.3.4
Cython==3.0.10
decorator==5.1.1
ecos==2.0.13
et-xmlfile==1.1.0
fonttools==4.25.0
GPy
imageio==2.31.2
intel-openmp==2024.1.0
joblib==1.3.2
loguru==0.7.2
matplotlib==3.5.2
mkl
mkl-fft
mkl-service
munkres
numpy==1.21.6
opencv-python==4.8.1.78
openpyxl==3.1.3
osqp==0.6.5
pandas==1.3.5
paramz==0.9.6
Pillow
ply
progress==1.6
PyQt5
qpsolvers
scikit-learn==1.0.2
scipy==1.7.3
SciencePlots==2.1.1
shapely==1.8.5.post1
tbb
wincertstore
